@import "libs/bootstrap-reboot.min.css";
@import "base/variables";
@import "base/mixins";
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
        color: #000;
    }
    list-style-type: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
p {
    margin: 0;
}
img {
    width: 100%;
    border-radius: 12px;
}
ul {
    margin-bottom: 0;
}
@import "blocks/promo";
@import "blocks/menu";
@import "blocks/about";
@import "blocks/resume";
@import "blocks/skills";
@import "blocks/portfolio";
@import "blocks/price";
@import "blocks/contact";
@import "media/media";
