@media (max-width:576px) {
.promo {
    &__top-title {
        margin-left: 20px;
    }
    &__title {
        font-size: 26px;
        line-height: 35px;
    }
    &__social {
        display: none;
    }
}

.about {
    padding-top: 40px;
    &__title-header {
        font-size: 24px;
    }
    &__wrapper {
        grid-template-columns: 300px;
        justify-content: center;
    }
    &__card-wrapper {
        grid-template-columns: 287px;
        grid-template-rows: 80px;
        padding-top: 120px;
    }
}
.resume {
    padding-top: 115px;
    &__header {
        font-size: 24px;
    }
    &__column {
        padding-top: 40px;
    }
    &__line {
        margin-top: 15px;
    }
    &__wrapper {
        grid-template-columns: 300px;
    }
    &__column-subheader {
        font-size: 10px;
    }
}
.skills {
    padding-top: 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(2, 270px);
        justify-content: center;
        padding-top: 20px;
        row-gap: 20px;
    }
    &__header {
        font-size: 24px;
    }
    &__rating-wrapper{
        padding: 40px 10px 0 10px;
        grid-template-columns: repeat(1, minmax(300px,370px));
        grid-template-rows: repeat(6, 70px);
    }
}
.portfolio {
    padding-top: 40px;
    &__grid {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        &-item {
            padding: 10px 20px;
            &--plans {
            padding: 10px 20px;
            }
            &--wordpress {
            padding: 10px 20px;
            }
        }
    }
}
.price {
    padding-top: 40px;
    &-line {
        margin-top: 20px;
    }
    &-wrapper {
        padding: 20px 10px 0 35px;
        grid-template-columns: repeat(1, 300px);
        justify-content: center;
    }
    &__item {
        margin-top: 20px;
    }
}
.contact {
    justify-content: center;
    &__wpapper {
        padding: 0;
    }
    &__top-header {
        padding-bottom: 25px;
    }
    &__header {
        font-size: 24px;
        line-height: normal;
        padding-bottom: 15px;
    }
    &__column--img {
        display: none;
    }
    &__wpapper {
        padding-top: 40px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 300px;
        column-gap: 70px;
        justify-content: center;
    }

    &-form {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 45px 45px;
        column-gap: 0px;
        row-gap: 30px;
        &__top-left {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &__top-right {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        &__bottom {
            grid-column: 1/2;
            grid-row: 3/4;
        }
        &__triggers {
            row-gap: 20px;
            grid-template-columns: repeat(1, auto);
        }
        &__button {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
        }
        &__policy {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 176px;
            margin: 0 auto;
        }
    }
    &__social-down-text {
        padding-bottom: 30px;
    }
    &__social-up-text {
        padding: 20px 0 0 0;
    }
}
}