@media (max-width:576px) {
.promo {
    &__top-title {
        margin-left: 20px;
    }
    &__title {
        font-size: 26px;
        line-height: 35px;
    }
    &__social {
        display: none;
    }
}

.about {
    padding-top: 40px;
    &__title-header {
        font-size: 24px;
    }
    &__wrapper {
        grid-template-columns: 300px;
        justify-content: center;
    }
    &__card-wrapper {
        grid-template-columns: 287px;
        padding-top: 220px;
    }
}
.resume {
    padding-top: 250px;
    &__header {
        font-size: 24px;
    }
    &__column {
        padding-top: 40px;
    }
    &__line {
        margin-top: 15px;
    }
    &__wrapper {
        grid-template-columns: 300px;
    }
}
.skills {
    padding-top: 40px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 270px);
        grid-template-rows: repeat(2, 270px);
        justify-content: center;
        padding-top: 20px;
        row-gap: 20px;
    }
    &__header {
        font-size: 24px;
    }
    &__rating-wrapper{
        padding: 40px 10px 0 10px;
        grid-template-columns: repeat(1, minmax(300px,370px));
        grid-template-rows: repeat(6, 70px);
    }
}
.portfolio {
    &__grid {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        &-item {
            padding: 10px 20px;
            &--plans {
            padding: 10px 20px;
            }
            &--wordpress {
            padding: 10px 20px;
            }
        }
    }
}
}