@mixin before_circle {
    &::before{
        content: '';
        display: block;
        width: 36px;
        height: 36px;
        background-color: $main-color;
        position: relative;
        top: 30px;
        right: 9px;
        border-radius: 100%;
        z-index: -1;
    }
}
