.about {
    padding-top: 120px;
    &__wrapper {
        display: grid;
        grid-template-columns: 400px 572px;
        column-gap: 70px;
    }
    &__title-wrapper {
        display: grid;
        grid-template-rows: 243px 317px;
        row-gap: 120px;
    }
    &__card-wrapper {
        display: grid;
        grid-template-columns: 287px 287px;
        grid-template-rows: 116px;
        column-gap: 25px;
        row-gap: 20px;
    }
    &__card-items-wrapper {
        display: grid;
        grid-template-columns: 40px 200px;
        column-gap: 20px;
    }
    
    &__title {
        &-top-header {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include before_circle;
        }
        &-header {
            color: #000;
            font-size: 36px;
            font-weight: 700;
            line-height: 60px;
            margin-top: 6px;
        }
        &-line {
            width: 60px;
            height: 3px;
            background-color: $main-color;
        }
        &-text {
            margin-top: 20px;
            font-size: 14px;
            font-weight: 500;
            text-align: justify;
            line-height: normal
        }
    }
    &__card-item {
        &-head {
            font-size: 14px;
            font-weight: 700;
        }
        &-text {
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
            text-align: justify;
        }
        &-svg {
            @include before_circle;
            &::before {
                top: 0;
            }
        }
    }
    &__card-svg {
        &-monitor {
            position: relative;
            left: -3px;
            top: -29px;
        }
        &-mobile {
            position: relative;
            left: 2px;
            top: -29px;
        }
        &-design {
            position: relative;
            left: -3px;
            top: -29px;
        }
    }
    &__photo {
        padding-top: 30px;
    }
}